/* Common */
body {
	font-family: 'Montserrat', sans-serif;
}

.bg_primary {
	background-color: #2c3e50;
}
.bg_primary_300 {
	background-color: #3a546d;
}
.bg_secondary {
	background-color: #1abc9c;
}

.wrapper_small {
	max-width: 1000px;
	width: 85%;
	margin: auto;
}

.divider { 
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 26px;
	margin: 12px 0;
}
.divider_dark {
	color: #2c3e50;
}
.divider i {
	margin: 0 10px;
}
.divider::before, .divider::after {
	content: '';
	height: 3px;
	background-color: currentColor;
	width: 100px;
	border-radius: 5px;
}
/* Typo */

/* Header */

header {
	position: fixed;
	top: 0;
	color: #fff;
	padding: 12px 0;
	/* height: 80px;
	line-height: 80px; */
	width: 100%;
	z-index: 10;
}

.main_nav ul {
	display: flex;
	list-style: none;
	justify-content: flex-end;
}
.main_nav ul li:not(:last-child) {
	margin-right: 15px;
}

.main_nav ul li a {
	color: #fff;
	text-decoration: none;
}

/* Main */
section {
	padding: 80px 0;
}

#hero {
	margin-top: 80px;
	color: #fff;
}

.porfolio_item {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	margin: 10px 0;
}
.porfolio_item img {
	width: 100%;
}

.porfolio_item_overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(26, 188, 156, 0.8);
	color: #fff;
	font-size: 60px;
	display: none;
	align-items: center;
	justify-content: center;
}
.porfolio_item:hover .porfolio_item_overlay {
	display: flex;
}
#about {
	color: #fff;
}

.circle {
	display: inline-block;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background-color: lightgray;
}

/* Form */
.form-control {
	border: none;
	border-radius: 0px;
	border-bottom: 1px solid #ddd;
	padding-left: 0px;
}
.form-control::placeholder {
	color: #2c3e50;
	font-size: 18px;
	font-weight: 500;
}

button[type="submit"] {
	color: #fff;
}

/* Footer */
footer {
	color: #fff;
}
.footer_top, .footer_bottom {
	padding: 30px 0;
}

.navbar-dark .navbar-nav .nav-link, 
.navbar-dark .navbar-brand {
	color: #fff;
}
